<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href="/static/favicon.svg" sizes="any" type="image/svg+xml" />
	<script>var data_url = '/mainnet_data/{{pool_id}}.json';</script>
	<script type="text/javascript" src="../static/js/paper-full.min.js"></script>
	<style type="text/css">html,
		body {margin: 0;height: 100%;width: 100%;}
		canvas[resize] {width: 100%;height: 100%;}
	</style>
</head>
<body class="fullscreen">
	<canvas resize="true" id="statistics" resize></canvas>
	<script type="module">
		import SingleExplanatoryVariableCorrelationChart from '../static/js/SingleExplanatoryVariableCorrelationChart.js';
		var chart = null;
		var global_data = null;
		var data_fetch_completed = false;
		var first_drawing_complete = false;
		var data_url = '/static/{{dataset}}.json';
		console.log('fetching data from ' + data_url);
		fetch(data_url)
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {
			console.log('data fetch completed');
			global_data = data;
			data_fetch_completed = true;
		})
		.catch(function (err) {
			console.log('error: ' + err);
		});

		window.onload = function() { setTimeout(draw_if_data_finished_loading, 100);}

		window.addEventListener("resize", (event) => {
			if (first_drawing_complete) { draw_if_data_finished_loading(); }
		}, true);

		function draw_if_data_finished_loading() {
			if (data_fetch_completed) {
				paper.install(window);
				var canvas = document.getElementById('statistics');
				paper.setup(canvas);
				new SingleExplanatoryVariableCorrelationChart(canvas, paper, global_data, document).draw();
				first_drawing_complete = true;
			} else {
				setTimeout(draw_if_data_finished_loading, 100);
			}
		}
	</script>
</body>
</html>
